{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h2 class="cart">Your shopping cart</h2>
<br>
<br>
{% if cart %}
<table class="table table-responsive">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit price</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td class="remove">
                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="text danger">Delete</button>
                </form>
            </td>
            <td>
                <a href="{{ product.get_absolute_url }}"><img class="img-fluid"
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                    {{ product.name }}
                </a>
            </td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    {% csrf_token %}
                    <button type="submit" class="btn-update btn-primary">Update</button>
                </form>
            </td>
            <td>&#8377;{{ item.price }}</td>
            <td>&#8377;{{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="num">Total &#8377;{{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
{% else %}
<h4 class="cart">Your cart is empty</h4>
{% endif %}

<p class="text-right">
    <a href="/" class="btn btn-primary">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-success">Checkout</a>
</p>
{% endblock %}