<!DOCTYPE html>
{% extends "shop/base.html" %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% if category %}{{ category.name }}{% else %}Shop{% endif %}</title>
</head>

<body>
    {% block content %}

    <div class="row">
        {% for category in category_list %}
        <div class="col-6 col-md-6 col-lg-3">
            <div class="card">
                <a href="{% url 'shop:shop_list' category.id %}"><img src="{% if category.image %}{{ category.image.url }}{%else %}
            {% static 'img/no_image.png' %}{% endif %}" class="card-img-top img-responsive"></a>
                <div class="card-body">
                    <p class="card-text">{{ category.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock content %}
</body>

</html>